body {
    background-color: black;
    background-image: url('../img/bondjs.svg');
    background-position: center top;
    background-repeat: no-repeat;
}
.arrow-white {
    position: absolute;
    top: -7px;
    background-image: url('../img/arrow_white.svg');
    background-repeat: repeat-x;
    background-position: left top;
    height: 7px;
    width: 100%;
}
.arrow-black {
    position: absolute;
    top: -7px;
    background-image: url('../img/arrow_up.svg');
    background-repeat: repeat-x;
    background-position: left top;
    height: 7px;
    width: 100%;
}
.content {
    position: relative;
    background-color: white;
    margin-top: 1000px;
    padding-top: 20px;
    -webkit-transition: margin-top 2s ease;
}
.demo {
    position: relative;
    margin-top: 50px;
    min-height: 2000px;
    background-color: black;
}
.content.init {
    margin-top: 300px;
}
.light {
    color: #989898;
}

.olive {
    position: absolute;
    width: 50px;
    height: 62px;
    background: -webkit-linear-gradient(#b1b10b, #71710e);
    background-color: olive;
    -webkit-border-radius: 50px;
    -webkit-transform: rotate(10deg);
    -webkit-transition: all 1s ease;
}

.olive.spotted{
    -webkit-transform: rotate(360deg);
}

.olive:after {
    position: absolute;
    top: 11px;
    left: 16px;
/*    background: -webkit-linear-gradient(#ce3d14,#621e0b);*/
    background-color: #C43C16; 
    -webkit-transform: rotate(16deg);
    -webkit-border-radius: 20px;
    width: 20px;
    height: 11px;
    content: " "
}

.olive:before {
    position: absolute;
    top: 5px;
    left: 13px;
    background: -webkit-linear-gradient(#646408, #333306);
    background-color: #212104; 
    -webkit-transform: rotate(16deg);
    -webkit-border-radius: 20px;
    width: 26px;
    height: 24px;
    content: " "
}

.olive-1{top:200px; left:25%;}
.olive-2{top:400px; right:25%;}
.olive-3{top:600px; left:25%;}
.olive-4{top:800px; right:25%;}
.olive-5{top:1000px; left:25%;}
.olive-6{top:1200px; right:25%;}
.olive-7{top:1400px; left:25%;}
.olive-8{top:1600px; right:25%;}
.olive-9{top:1800px; left:25%;}
.olive-10{top:2000px; right:25%;}

.row{
    opacity:0.1;
}

.row.spotted{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity:1;
}