body {
  background-color: black;
  background-image: url("../img/bondjs.svg");
  background-position: center top;
  background-repeat: no-repeat;
}

.arrow-white {
  position: absolute;
  top: -7px;
  background-image: url("../img/arrow_white.svg");
  background-repeat: repeat-x;
  background-position: left top;
  height: 7px;
  width: 100%;
}

.arrow-black {
  position: absolute;
  top: -7px;
  background-image: url("../img/arrow_up.svg");
  background-repeat: repeat-x;
  background-position: left top;
  height: 7px;
  width: 100%;
}

.arrow-black-reverse {
  position: absolute;
  bottom: -7px;
  background-image: url("../img/arrow.svg");
  background-repeat: repeat-x;
  background-position: left top;
  height: 7px;
  width: 100%;
}

.content {
  position: relative;
  background-color: white;
  margin-top: 1000px;
  padding-top: 20px;
  -webkit-transition: margin-top 2s ease;
  -moz-transition: margin-top 2s ease;
  transition: margin-top 2s ease;
}

.demo {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 1530px;
  background-color: black;
}

.bg-black {
  margin-top: 40px;
  position: relative;
  background-color: black;
}
.bg-black h1, .bg-black h2, .bg-black h3, .bg-black h4, .bg-black h5, .bg-black p {
  color: white;
}

.footer {
  text-align: center;
  opacity: 1 !important;
  padding: 40px 0 70px 0;
}
.footer a {
  color: white;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}

.content.init {
  margin-top: 300px;
}

.light {
  color: #989898;
}

.olive {
  position: absolute;
  width: 50px;
  height: 62px;
  background-color: #b1b10b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1b10b), color-stop(100%, #71710e));
  background-image: -webkit-linear-gradient(#b1b10b, #71710e);
  background-image: linear-gradient(#b1b10b, #71710e);
  background-color: olive;
  border-radius: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
.olive.spotted {
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-transform: rotate(1080deg);
  -moz-transform: rotate(1080deg);
  -ms-transform: rotate(1080deg);
  -o-transform: rotate(1080deg);
  transform: rotate(1080deg);
}
.olive:after {
  position: absolute;
  top: 11px;
  left: 16px;
  background-color: #C43C16;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  transform: rotate(16deg);
  border-radius: 20px;
  width: 20px;
  height: 11px;
  content: " ";
}
.olive:before {
  position: absolute;
  top: 5px;
  left: 13px;
  background-color: #646408;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646408), color-stop(100%, #333306));
  background-image: -webkit-linear-gradient(#646408, #333306);
  background-image: linear-gradient(#646408, #333306);
  background-color: #212104;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  transform: rotate(16deg);
  border-radius: 20px;
  width: 26px;
  height: 24px;
  content: " ";
}

.olive-example {
  position: relative;
  margin: 30px 0px 30px 0px;
  margin-left: 8%;
  display: inline-block;
  -webkit-transition: all 0s 0s ease;
  -moz-transition: all 0s 0s ease;
  transition: all 0s 0s ease;
}
.olive-example:first-child {
  margin-left: 0%;
}
.olive-example.spotted {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.olive-big {
  width: 75px;
  height: 93px;
}
.olive-big:after {
  top: 16.5px;
  left: 24px;
  border-radius: 30px;
  width: 30px;
  height: 16.5px;
}
.olive-big:before {
  top: 7.5px;
  left: 19.5px;
  border-radius: 30px;
  width: 39px;
  height: 36px;
}

.olive-a.spotted {
  -webkit-transition: all 1s 0s ease;
  -moz-transition: all 1s 0s ease;
  transition: all 1s 0s ease;
}

.olive-b.spotted {
  -webkit-transition: all 1s 0.2s ease;
  -moz-transition: all 1s 0.2s ease;
  transition: all 1s 0.2s ease;
}

.olive-c.spotted {
  -webkit-transition: all 1s 0.4s ease;
  -moz-transition: all 1s 0.4s ease;
  transition: all 1s 0.4s ease;
}

.olive-d.spotted {
  -webkit-transition: all 1s 0.6s ease;
  -moz-transition: all 1s 0.6s ease;
  transition: all 1s 0.6s ease;
}

.olive-e.spotted {
  -webkit-transition: all 1s 0.8s ease;
  -moz-transition: all 1s 0.8s ease;
  transition: all 1s 0.8s ease;
}

.olive-f.spotted {
  -webkit-transition: all 1s 1s ease;
  -moz-transition: all 1s 1s ease;
  transition: all 1s 1s ease;
}

.olive-1 {
  top: 200px;
  left: 25%;
}

.olive-2 {
  top: 400px;
  right: 25%;
}

.olive-3 {
  top: 600px;
  left: 25%;
}

.olive-4 {
  top: 800px;
  right: 25%;
}

.olive-5 {
  top: 1000px;
  left: 25%;
}

.olive-6 {
  top: 1200px;
  right: 25%;
}

.olive-7 {
  top: 1400px;
  left: 25%;
}

.olive-8 {
  top: 1600px;
  right: 25%;
}

.olive-9 {
  top: 1800px;
  left: 25%;
}

.olive-10 {
  top: 2000px;
  right: 25%;
}

.row, .footer {
  opacity: 0.1;
}
.row.spotted, .spotted.footer {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 1;
}

a.btn.btn-black {
  background-color: black;
  color: white;
}
a.btn.btn-black:hover {
  background-color: #464646;
}

.download {
  padding: 80px 0;
}
