@import 'bourbon/bourbon';
 body {
    background-color: black;
    background-image: url('../img/bondjs.svg');
    background-position: center top;
    background-repeat: no-repeat;
}
.arrow-white {
    position: absolute;
    top: -7px;
    background-image: url('../img/arrow_white.svg');
    background-repeat: repeat-x;
    background-position: left top;
    height: 7px;
    width: 100%;
}
.arrow-black {
    position: absolute;
    top: -7px;
    background-image: url('../img/arrow_up.svg');
    background-repeat: repeat-x;
    background-position: left top;
    height: 7px;
    width: 100%;
}
.content {
    position: relative;
    background-color: white;
    margin-top: 1000px;
    padding-top: 20px;
    @include transition(margin-top 2s ease);
}
.demo {
    position: relative;
    margin-top: 50px;
    min-height: 2000px;
    background-color: black;
}
.content.init {
    margin-top: 300px;
}
.light {
    color: #989898;
}
.olive {
    position: absolute;
    width: 50px;
    height: 62px;
    @include linear-gradient(#b1b10b, #71710e);
    background-color: olive;
    border-radius: 50px;
    @include transform(rotate(0deg));
    @include transition(all 0s);
    
    &.spotted {
        @include transition(all 3s ease);
        @include transform(rotate(1080deg));
    }
    &:after {
        position: absolute;
        top: 11px;
        left: 16px;
        background-color: #C43C16;
        @include transform(rotate(16deg));
        border-radius: 20px;
        width: 20px;
        height: 11px;
        content: " ";
    }
    &:before {
        position: absolute;
        top: 5px;
        left: 13px;
        //background: -webkit-linear-gradient(#646408, #333306);
        @include linear-gradient(#646408, #333306);
        background-color: #212104;
        //-webkit-transform: rotate(16deg);
        @include transform(rotate(16deg));
        border-radius: 20px;
        width: 26px;
        height: 24px;
        content: " ";
    }
}
.olive-example {
    position: relative;
    margin: 30px 0px 30px 0px;
    margin-left: 8%;
    display: inline-block;
    &:first-child {
        margin-left: 0%;
    }
    @include transition(all 0s 0s ease);
}
.olive-a.spotted {
    @include transition(all 1.0s 0s ease);
}
.olive-b.spotted {
    @include transition(all 1.0s 0.2s ease);
}
.olive-c.spotted {
    @include transition(all 1.0s 0.4s ease);
}
.olive-d.spotted {
    @include transition(all 1.0s 0.6s ease);
}
.olive-e.spotted {
    @include transition(all 1.0s 0.8s ease);
}
.olive-f.spotted {
    @include transition(all 1.0s 1.0s ease);
}
.olive-1 {
    top: 200px;
    left: 25%;
}
.olive-2 {
    top: 400px;
    right: 25%;
}
.olive-3 {
    top: 600px;
    left: 25%;
}
.olive-4 {
    top: 800px;
    right: 25%;
}
.olive-5 {
    top: 1000px;
    left: 25%;
}
.olive-6 {
    top: 1200px;
    right: 25%;
}
.olive-7 {
    top: 1400px;
    left: 25%;
}
.olive-8 {
    top: 1600px;
    right: 25%;
}
.olive-9 {
    top: 1800px;
    left: 25%;
}
.olive-10 {
    top: 2000px;
    right: 25%;
}
.row {
    opacity: 0.1;
    &.spotted {
        @include transition(all 1s ease);
        opacity: 1;
    }
}

a.btn.btn-black{
    background-color: black;
    color:white;
    
    &:hover{
        background-color: #464646;
    }
}

.download{
    padding: 80px 0;
}